@import '../../_patterns-global/scss/abstracts/variables';
@import '../../_patterns-global/scss/abstracts/mixins';

.timeline {
  position: relative;
  max-width: $screen-md;
  width: 100%;
  margin: 0 auto;
  
  .timeline-start, .timeline-end {
    display: table;
    font-size: 20px;
    background: $color-dark-blue;
    color: $color-white;
    text-align: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    line-height: 90px;

    @include respond(tab) {
      width: 110px;
      height: 110px;
      line-height: 110px;
      margin: 0 auto;
    }
  }

  .center-line {
    position: absolute;
    width: 3px;
    height: 94%;
    top: 0;
    left: 40px;
    margin-left: 0px;
    border-right: 2px solid $color-dark-blue;
    z-index: -1;

    @include respond(tab) {
      left: 50%;
    }
  }

  .timeline-content {
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .timeline-article {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;

    .content-left-container {
      max-width: 76%;
      width: 100%;
      height: auto;
      margin-bottom: 10px;

      @include respond(tab) {
        max-width: 44%;
      }

      &.left-side_timeline {
        display: flex;
        align-items: center;
        flex-flow: row-reverse;
        margin-left: 70px;
        
        @include respond(tab) {
          flex-flow: inherit;
          margin-left: 0;
        }

        .timeline-icon {
          margin-right: 10px;

          @include respond(tab) {
            margin-left: 10px;
          }
        }
      }

      &.right-side_timeline {
        margin-left: 70px;
        display: flex;
        align-items: center;
        flex-flow: row-reverse;

        @include respond(tab) {
          float: right;
          margin-left: 50%;
        }

        .timeline-icon {
          margin-left: 0;
          margin-right: 10px;
        }
      }
    }

    .timeline-title {
      font-size: 16px;
      margin-bottom: 5px;
      font-weight: 700;
    }

    .timeline-author {
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #242424;
      text-align: left;
      padding: 0px 15px;
    }

    .content-left-container {
      .timeline-icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;  
        background-color: #b00bd9;

        img {
          width: 20px;
        }
      }
    }

    .meta-date {
      position: absolute;
      left: 50%;
      top: 50%; 
      left: 40px;
      transform: translate(-50%,-50%);
      height: 47px;
      width: auto;
      color: $color-dark-blue ;
      border-radius: 100%;
      background: $color-white;
      
      @include respond(tab) {
        left: 50%;
      }

     .year {
        font-family: $article-font-semi-bold;
        font-size: 16px;
        line-height: 40px;
        display: block;
        text-align: center;
      }
    }

    .content-left, .content-right {
      position: relative;
      width: calc(100% - 50px);
      padding: 0px 15px;
      border: 1px solid $color-shortcut-btn-border;
      border-radius: 4px;
      padding: 15px;
      font-size: $min-font-size;
      line-height: 18px;
    }
  }
}
