<ul class="social-media-links--platforms platforms inline horizontal">
  {% for key,value in socialmedia.medialinks %}
    <li>
    {% include '@atoms/12-links/00-links.twig' with {
        text: value.markup,
        class: value.id,
        url: value.url
      } %}
    </li>
  {% endfor %}
</ul>
