@import '../../_patterns-global/scss/abstracts/variables';
@import '../../_patterns-global/scss/abstracts/mixins';

.hbspt-form {
  @include respond(tab) {
    width: 550px;
  }
  margin: 0 auto;
  width: 100%;

  .actions {
    text-align: right;
  }
}

.field-container {
  label {
    font-size: 16px;
    font-family: $article-font-regular;
    width: 200px;
    margin-bottom: 10px;
    vertical-align: top;
  }
  input, select, input[type=serach]{
    font-size: 16px;
    font-family: $article-font-regular;
    width: 50%;
    line-height: 40px;
    height: 40px;
    margin-bottom: 10px;
    border: $color-border-line 1px solid;
    border-radius: 4px;
    padding-left: 10px;
  }
  input[type=textarea] {
    height: 100px;
  }

}

.options {
  label {
    input {
      margin-right: 10px;
    }
  }
}

