@import '../_patterns-global/scss/abstracts/variables';
@import '../_patterns-global/scss/abstracts/mixins';

.node--type-liveblog {
  font-family: $article-font-regular;
  .block-page-title-block {
    margin: 0 auto;
    max-width: $component-xxl;
    h1 {
      color: $color-dark-blue;
      font-family: $article-font-light;
      font-size: 26px;
      line-height: 44px;
      padding-top: 3px;
      margin-bottom: 10px;
      @include respond(desktop) {
        font-size: 48px;
        line-height: 65px;
      }
    }
  }
  .field--name-field-short-title {
    margin: 0 auto;
    max-width: $component-xxl;
    color: $color-text;
    font-family: $article-font-regular;
    font-size: 16px;
    margin-bottom: 10px;
    @include respond(desktop) {
      font-size: 20px;
    }
  }
  .field--name-field-start-date{
    margin: 0 10px 5px 0px;
    color: $color-text;
    font-family: $article-font-regular;
    font-size: $min-font-size;
    float: left;
    background: $color-grey-light-1;
    padding: 1px 7px;
    border-radius: 4px;
    @include respond(desktop) {
      margin: 0 10px 0 23px;
    }
  }
  .field--name-field-end-date {
    display: inline-block;
    vertical-align: top;
    color: $color-text;
    font-family: $article-font-regular;
    font-size: $min-font-size;
    margin-bottom: 10px;
    background: $color-grey-light-1;
    padding: 1px 7px;
    border-radius: 4px;
  }
  .field--type-text-with-summary {
    margin: 0 auto;
    max-width: $component-xxl;
    color: $color-text;
    font-family: $article-font-regular;
    font-size: $min-font-size;
    margin-bottom: 10px;
    @include respond(desktop) {
      font-size: $default-font-size;
    }
  }
  .field--name-field-content {
    & > .field__item {
      margin-bottom: 36px;
    }
  }
  .liveblog-posts-container {
    @include respond(desktop) {
      max-width: $component-sm;
    }
    max-width: 100%;
    width: 100%;
  }
  .field--name-field-status {
    width: 50px;
    margin: 5px 0px;
    color: $color-dark-blue;
    font-family: $article-font-regular;
    font-size: 14px;
    text-align: center;
    line-height: normal;
    padding: 5px;
    border-radius: 4px;
    @include live;
    @include respond(desktop) {
       margin: 5px 20px;
    }
  }
  //liveblog-posts-section
  .liveblog-posts {
    margin: 20px auto;
    max-width: $component-xxl;
    .liveblog-post {
      margin-bottom: 0;
      border-bottom: 0;
    }
    .tabledrag-handle {
      min-width: inherit;
      .handle {
        width: 25px;
        background-position: 0 7px;
      }
    }
    .button{
      background-color: $color-primary!important;
      color: $color-white;
      min-width: inherit;
      height: 33px;
      cursor: pointer;
      border-radius: 4px;
      margin-top: 0;
      font-family: $article-font-semi-bold;
      font-size: $min-font-size;
      margin-bottom: 5px;
      @include respond(desktop) {
        min-width: 120px;
        padding: 5px;
        margin-bottom: 0;
      }
    }
    label {
      font-family: $article-font-regular;
      font-size: $default-font-size;
      color: $color-text;
      margin-bottom: 10px;
      display: block;
    }
    input[type=text] {
      height: 44px;
      border-radius: 4px;
      padding: 10px; 
      width: 100%;
      border: 1px solid $color-dark-gray-extra;
    }
    //form-wrapper 
    > .form-wrapper {
      @include respond(desktop) {
        max-width: $component-sm;
      }
      background-color: $color-white-light;
      padding: 20px;
      margin: 20px 0;
      #edit-additional {
        display: none;
      }
      summary {
        font-family: $article-font-regular;
        font-size: $default-font-size;
        color: $color-text;
        margin-bottom: 10px;
      }
      .field--name-field-content {
        .js-form-item.form-item {
          color: $color-white;
          margin-bottom: 10px;
        }
        .tabledrag-toggle-weight-wrapper {
          button {
            background-color: $color-primary!important;
            color: $color-white;
            padding: 5px;
            min-width: 140px;
            height: 33px;
            cursor: pointer;
            border-radius: 4px;
            margin-top: 10px;
            font-family: $article-font-semi-bold;
            font-size: $min-font-size;
            border: 0;
          }
        }
        table {
          margin: 10px 0;
          width: 100%;
          thead {
            tr {
              th {
                border: 2px solid $color-text;
                padding: 3px 10px;
                width: 220px;
                text-align: center;
                display: none;
                h4.label {
                  font-size: 18px;
                  color: $color-text;
                }
              }
            }
          }
          .paragraph-type-label, p, .text-full, .messages {
            color: $color-text;
          }
        } 
        .paragraphs-add-suffix {
            color: $color-text;
        }
      }
      .alert {
        font-family: $article-font-regular;
        font-size: $min-font-size;
        color: $color-red;
        margin: 10px 0;
        display: block;
      } 
      .messages {
        color: $color-text;
      }
    }
    //liveblog-posts--title 
    .liveblog-posts--title {
      @include respond(desktop) {
        max-width: $component-sm;
        font-size: 24px;
      }
      margin: 10px 0;
      padding: 10px 0;
      max-width: 100%;
      width: 100%;
      color: $color-dark-blue;
      font-family: $article-font-regular;
      font-size: 18px;
      border-top: 1px solid $color-dark-gray-extra;
      border-bottom: 1px solid $color-dark-gray-extra;
    }
    //liveblog-posts-container 
    .liveblog-posts-container {
      .liveblog-post--edit-button {
        width: 100%;
      }
      .field--name-uid, 
      .field--type-created {
        float: left;
        font-size: $min-font-size;;
        margin: 3px 10px 3px 0;
        background: $color-grey-light-2;
        padding: 2px 10px;
        border-radius: 4px;
        color: $color-text;
        a {
          color: $color-text;
          text-decoration: none;
        }
      }
      .field--name-title{
        font-size: 18px;
        margin: 10px 0 3px 0;
        padding: 5px 0;
        color: $color-text;
        border-bottom: 1px solid $color-dark-gray-extra;
        a {
          color: $color-text;
          text-decoration: none;
        }
      }
      .field--name-field-content {
        width: 100%;
        display: inline-block;
        margin: 5px 0;
      }
      .link{
        background-color: $color-primary!important;
        color: $color-white;
        padding: 5px;
        min-width: 75px;
        height: 28px;
        cursor: pointer;
        border-radius: 4px;
        margin-bottom: 5px;
        font-family: $article-font-semi-bold;
        font-size: $min-font-size;
        border: 0;
        float: right;
      }
      //liveblog-post-edit-form 
      .liveblog-post-edit-form {
        background: $color-white-light;
        padding: 20px;
        float: left;  
        width: 100%;
        .field--name-title {
          float: none;
          background: none;
          padding: 0;
          margin: 0 0 10px 0;
          border-bottom: 0;
          label {
            color: $color-text;
          }
          input[type=text] {
            border: 1px solid $color-dark-gray-extra;
          }
        }
        table {
          margin: 10px 0;
          width: 100%;
          thead {
            tr {
              th {
                padding: 15px 10px; 
                h4 {
                  float: left;
                }
                &:first-child {
                  width: 94%;
                }
              }
            }
          }
          tbody {
            tr {
              td {
                padding: 15px 10px; 
              }
            }
          }
        }
        .paragraphs-dropdown-actions {
          background-color: $color-primary!important;
        }
      }
    }
  }
  .paragraph--type--text,
  .paragraph--type--quote,
  .paragraph--type--assets,
  .paragraph--type--embed{
    @include respond(desktop) {
      max-width: $component-sm;
    }
    max-width: 100%;
    width: 100%;
  }
  .paragraph--type--quote {
    .quote-component {
      padding: 25px 15px 25px 10px;
      @include respond(desktop) {
        padding: 24px 40px 30px;
      }
      .field--name-field-quote {
        font-family: $article-font-regular;
        &::before {
          left: 0;
        }
      }
    }
  }  
  .paragraph--type--assets {
    img {
      width: 100%;
      @include respond(desktop) {
        width: 80%;
      }
    }
  }
  .paragraph {
    @include respond(desktop) {
      margin-bottom: 50px;
    }
    margin-bottom: 30px;
  }
  //ui-dialog
  .ui-dialog {
    .paragraphs-add-dialog {
      .paragraphs-add-dialog-list {
        .paragraphs-add-dialog-row {
          flex-basis: 50%;
          .paragraphs-button--icon {
            margin:  0 auto!important;
          }
          .paragraphs-button--icon {
            margin-bottom: 10px;
          }
          .paragraphs-label, .paragraphs-description {
            color: $color-text;
          }
        }
      }
    }
  }
}
