{% extends '@templates/00-layouts/01-page-1col.twig' %}
{% block main %}
  <div class="article">
		{% include '@atoms/02-text/00-headings.twig' with {
  		heading_level: 1,
  		heading: "Should Your Enterprise Go For a Headless architecture"
		} %}
    {% include '@molecules/06-ReferenceCards/00-reference-cards.twig' %}
    {% include '@molecules/08-GalleryComponent/01-gallery-component.twig' %}
    {% include '@molecules/02-QuoteComponent/00-quote-component.twig' %}
    {% include '@molecules/09-GalleryCarousel/00-gallery-carousel.twig' %}
    {% include '@atoms/14-iframe/00-iframe.twig' %}
    {% include '@molecules/07-FAQ&QnAComponent/02-faq-list.twig' %} 
    {% include '@atoms/11-html/00-html.twig' %}
  
    
  </div>
{% endblock %}
