@import '../../../_patterns-global/scss/abstracts/variables';
@import '../../../_patterns-global/scss/abstracts/mixins';

.footer {
  border-top: 1px solid $color-grey-light-dark;
  margin: 0;
  padding-top: 20px;
  display: inline-block;
  width: 100%;
  @include respond(tab) {
    padding-top: 40px;
  }  
}
