//font family
@font-face {
    font-family:"ProximaNova-Regular";
    font-display: auto;
    src: local('ProximaNova-Regular');
    src:url("../fonts/proximanova/ProximaNova-Regular.woff") format("woff");
}
@font-face {
    font-family:"ProximaNova-Bold";
    font-display: auto;
    src: local('ProximaNova-Bold');
    src:url("../fonts/proximanova/ProximaNova-Bold.woff2") format("woff2");
}
@font-face {
    font-family:"ProximaNovaT-Thin";
    font-display: auto;
    src: local('ProximaNovaT-Thin');
    src:url("../fonts/proximanova/ProximaNovaT-Thin.woff2") format("woff2");
}
// @font-face {
//   font-family: 'ProximaNova-Regular';
//   src: url('ProximaNova-Regular.eot');
//   src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
//     url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
//     url('ProximaNova-Regular.ttf') format('truetype'),
//     url('ProximaNova-Regular.woff') format('woff'),
//     url('ProximaNova-Regular.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'ProximaNova-Bold';
//   src: url('ProximaNova-Bold.eot');
//   src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
//     url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
//     url('ProximaNova-Bold.ttf') format('truetype'),
//     url('ProximaNova-Bold.woff') format('woff'),
//     url('ProximaNova-Bold.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'ProximaNovaT-Thin';
//   src: url('ProximaNovaT-Thin.eot');
//   src: url('ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
//        url('ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg'),
//        url('ProximaNovaT-Thin.ttf') format('truetype'),
//        url('ProximaNovaT-Thin.woff') format('woff'),
//        url('ProximaNovaT-Thin.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }