@font-face {
  font-display: auto;
  font-family: 'ProximaNova-Regular';
  src: local('ProximaNova-Regular');
  src: url('../../fonts/proximanova/ProximaNova-Regular.woff') format('woff');
}
@font-face {
  font-display: auto;
  font-family: 'ProximaNova-Bold';
  src: local('ProximaNova-Bold');
  src: url('../../fonts/proximanova/ProximaNova-Bold.woff2') format('woff2');
}
@font-face {
  font-display: auto;
  font-family: 'ProximaNovaT-Thin';
  src: local('ProximaNovaT-Thin');
  src: url('../../fonts/proximanova/ProximaNovaT-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'open-sansregular';
  src: url('../../fonts/opensans/opensans-regular.woff2') format('woff2'),
       url('../../fonts/opensans/opensans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sanslight';
  src: url('../../fonts/opensans/opensans-light.woff2') format('woff2'),
       url('../../fonts/opensans/opensans-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open-sanssemibold';
  src: url('../../fonts/opensans/opensans-semibold.woff2') format('woff2'),
       url('../../fonts/opensans/opensans-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
